
.main-menu{
    background-color: var(--darkColor);
    position: fixed;
    z-index: 999;
    top: 0px;
    right: 0px;
    width: 100%;
    max-width: 480px;
    height: 100vh;
    transition: all .3s;
    padding: var(--unit);
}

.main-menu.close{
    right: -100%;
}

/*penser a changer la typo du titre pour le rentre adapté au menu*/

.main-menu .toggle-menu .material-icons{
    height: calc(var(--unit) * 3);
    width: calc(var(--unit) * 3);
    position: fixed;
    right: 0;
    cursor: pointer;
    font-size: 48px;
    color: var(--secondaryColor);
}

@media (min-width:1024px){

    .main-menu{
        position: sticky;
        height: unset;
        max-width: unset;
    }

    .main-menu .toggle-menu{
        display: none;
    }

    .main-menu ul{
        display: flex;
        justify-content: space-around;
    }
}

/*menu*/
@media (max-width: 1023px) {
    .menu {
      display: flex;
      flex-direction: column;
    }
  }

  @media (min-width: 1024px) {
    .menu {
      display: flex;
      flex-direction: row;
      align-items: center;
    }
  }

/*footer*/
@media (max-width: 767px) {
    .footer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

  @media (min-width: 768px) {
    .footer {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  }

  /*footer*/
@media (max-width: 767px) {
    .social {
      display: flex;
      justify-content: center;
    }
  }

  @media (min-width: 768px) {
    .social {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
  }

